<div class="toggling" data-controller="toggle">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709649745/ComixBnB/comix_trip_logo_staple_euqeny.png" %>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>

            <li class="nickname active mt-1">
              <%= "#{current_user.nickname}" %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= image_tag current_user.avatar.presence || 'default_avatar.png', class: "avatar", alt: "dropdown menu" %>
              </a>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Create something", new_comic_trip_path, class: "dropdown-item" %>
                <%= link_to "Profile", profile_path, class: "dropdown-item" %>
                <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
              </div>
            </li>
              <li class="button-container">
                  <a href="/comics/new" class="button-link">CREATE!</a>
                </li>
          <% else %>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link navbar-brand" do %>
              <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709720639/Comix_Trip_Nav_Button_Square_luhrk4.png", alt: "Login" %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8 my-3 d-none" data-toggle-target="togglableElement">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"%>
        <%= submit_tag "Search", name: "", class: "btn btn-dark" %>
      <% end %>
    </div>
  </div>
 </div>
</div>
