<div class="creation-section">
  <div class="row01">
    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
      <%= button_tag "Background", type: "button", class: "btn btn-danger" %>
      <%= button_tag "Left", type: "button", class: "btn btn-warning" %>
      <%= button_tag "Right", type: "button", class: "btn btn-success" %>
    </div>
    <%= button_tag "Publish", type: "button", class: "btn btn-light", style: "--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" %>
  </div>

<div class="row2" data-controller="dialogue-input">
  <%= simple_form_for :comix do |f| %>
    <div class="mb-2">
      <%= f.input :title, input_html: { placeholder: "Enter your comix Title" }, as: :string, wrapper: false, label: false, data-target="dialogue-input.title" %>
      <%= f.input :dialogue1, input_html: { placeholder: "Enter your first dialogue" }, as: :string, wrapper: false, label: false, data-target="dialogue-input.dialogue1" %>
      <%= f.input :dialogue2, input_html: { placeholder: "Enter your second dialogue" }, as: :string, wrapper: false, label: false, data-target="dialogue-input.dialogue2" %>
    </div>
  <% end %>
</div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Library
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Library 1</a></li>
        <li><a class="dropdown-item" href="#">Library 2</a></li>
        <li><a class="dropdown-item" href="#">Library 3</a></li>
      </ul>
    </div>
  </div>

  <div class="row3">
    <div class="square">
      <% 9.times do %>
        <div></div>
      <% end %>
    </div>
  </div>
</div>
