<div class="creation-section">
  <div class="row1">
  <%= form_with model: comic, method: :post do |form| %>
    <div class="mb-2">
    <p>Comix</p>
    <%= form.text_field :title, placeholder: "Enter your comix Title", class: "form-control" %>
    <%= form.text_field :category, placeholder: "Enter your category", class: "form-control" %>
  </div>
    <p>Vignette 1</p>
    <%= fields_for :vignette1 do |vignette1_form| %>
      <%= vignette1_form.text_field :text01, placeholder: "Enter your first dialogue", class: "form-control", data: { action: "keyup->live-preview#previewText" } %>
      <%= vignette1_form.text_field :text02, placeholder: "Enter your second dialogue", class: "form-control" %>
    <% end %>

    <p>Elements for Vignette 1</p>
    <%= fields_for :elements do |element_form| %>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Background
          </button>
          <ul class="dropdown-menu">
            <%= element_form.select :element1, Element.where(category: "background").map { |c| [c.image_url, c.id] } %>
          </ul>
        </div>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Character 1
          </button>
          <ul class="dropdown-menu">
            <%= element_form.select :element2, Element.where(category: "character").map { |c| [c.image_url, c.id] } %>
          </ul>
        </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Character 2
        </button>
        <ul class="dropdown-menu">
          <%= element_form.select :element3, Element.where(category: "character").map { |c| [c.image_url, c.id] } %>
        </ul>
      </div>
    <% end %>

     <p>Vignette 2</p>
    <%= fields_for :vignette2 do |vignette2_form| %>
      <%= vignette2_form.text_field :text01, placeholder: "Enter your first dialogue", class: "form-control", data: { action: "keyup->live-preview#previewText" } %>
      <%= vignette2_form.text_field :text02, placeholder: "Enter your second dialogue", class: "form-control" %>
    <% end %>

    <p>Elements for Vignette 2</p>
    <%= fields_for :elements do |element_form| %>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Background
          </button>
          <ul class="dropdown-menu">
            <%= element_form.select :element1, Element.where(category: "background").map { |c| [c.image_url, c.id] } %>
          </ul>
        </div>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Character 1
          </button>
          <ul class="dropdown-menu">
            <%= element_form.select :element2, Element.where(category: "character").map { |c| [c.image_url, c.id] } %>
          </ul>
        </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Character 2
        </button>
        <ul class="dropdown-menu">
          <%= element_form.select :element3, Element.where(category: "character").map { |c| [c.image_url, c.id] } %>
        </ul>
      </div>
    <% end %>

     <p>Vignette 3</p>
    <%= fields_for :vignette3 do |vignette3_form| %>
      <%= vignette3_form.text_field :text01, placeholder: "Enter your first dialogue", class: "form-control", data: { action: "keyup->live-preview#previewText" } %>
      <%= vignette3_form.text_field :text02, placeholder: "Enter your second dialogue", class: "form-control" %>
    <% end %>

    <p>Elements for Vignette 3</p>
    <%= fields_for :elements do |element_form| %>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Background
          </button>
          <ul class="dropdown-menu">
            <%= element_form.select :element1, Element.where(category: "background").map { |c| [c.image_url, c.id] } %>
          </ul>
        </div>
      <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Character 1
          </button>
          <ul class="dropdown-menu">
            <%= element_form.select :element2, Element.where(category: "character").map { |c| [c.image_url, c.id] } %>
          </ul>
        </div>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          Character 2
        </button>
        <ul class="dropdown-menu">
          <%= element_form.select :element3, Element.where(category: "character").map { |c| [c.image_url, c.id] } %>
        </ul>
      </div>
    <% end %>

    <%= form.submit "Publish", class: "btn btn-light" %>
  </div>
<% end %>
</div>
