<div class="preview-container" data-controller="dialogue-input">
  <div class="comic">
    <div class="comic-title" data-target="dialogue-input.title"><h2></h2></div>
      <div class="vignettes">
        <div class="vignette-text">
          <div class="element">
          <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1709731493/Classroom1.webp", alt: "Image 1", class: "background-image img-fluid" %>
          </div>
          <div class="rectangle-left" data-target="dialogue-input.rectangleLeft"></div>
          <div class="rectangle-right" data-target="dialogue-input.rectangleRight"></div>
        </div>
        <div class="vignette-text">
          <div class="element">
          <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1709731493/Classroom1.webp", alt: "Image 1", class: "background-image img-fluid" %>
          <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731422/Fritz_front_left.png", alt: "Image 2", class: "overlay-image img-fluid" %>
          </div>
          <div class="rectangle-left d-none"></div>
          <div class="rectangle-right d-none"></div>
        </div>
        <div class="vignette-text">
          <div class="element">
          <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1709731493/Classroom1.webp", alt: "Image 1", class: "background-image img-fluid" %>
          <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731422/Fritz_front_left.png", alt: "Image 2", class: "overlay-image img-fluid" %>
          <%= image_tag "https://res.cloudinary.com/dlmpwvjpw/image/upload/v1709731428/Teacher_front_right.png", alt: "Image 3", class: "overlay-image img-fluid" %>
          </div>
          <div class="rectangle-left d-none"></div>
          <div class="rectangle-right d-none"></div>
        </div>
      </div>
    </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
  // Create const from _buro partial
  const inputField = document.querySelector('[id ="titleInput"]');
  // Create const from _preview partial title
  const emptyField = document.querySelector('.comic-title');

  if (!inputField) {
    console.log("Input field empty");
  } else {
    // Add event listener to input field on _buro partial
    inputField.addEventListener('input', function() {
      // Get the value from _buro partial
      const inputValue = inputField.value;

      // Write the value to the empty field on _preview
      emptyField.textContent = inputValue;

      // Remove "d-none" class from emptyField
      emptyField.classList.remove("d-none");

      // if empty again add ("d-none") again
      // aktiv Print button to send the data somewhere
      // aktiv button none to erase all
    });
  }
});

  document.addEventListener("DOMContentLoaded", function() {
  // Create const from _buro partial
  const inputField = document.querySelector('[id ="dialogueInput1"]');
  // Create const from _preview partial title
  const emptyField = document.querySelector('.rectangle-left');

  if (!inputField) {
    console.log("Input field empty");
  } else {
    // Add event listener to input field on _buro partial
    inputField.addEventListener('input', function() {
      // Get the value from _buro partial
      const inputValue = inputField.value;

      // Write the value to the empty field on _preview
      emptyField.textContent = inputValue;

      // Remove "d-none" class from emptyField
      emptyField.classList.remove("d-none");
    });
  }
});

  document.addEventListener("DOMContentLoaded", function() {
  // Create const from _buro partial
  const inputField = document.querySelector('[id ="dialogueInput2"]');
  // Create const from _preview partial title
  const emptyField = document.querySelector('.rectangle-right');

  if (!inputField) {
    console.log("Input field empty");
  } else {
    // Add event listener to input field on _buro partial
    inputField.addEventListener('input', function() {
      // Get the value from _buro partial
      const inputValue = inputField.value;

      // Write the value to the empty field on _preview
      emptyField.textContent = inputValue;

      // Remove "d-none" class from emptyField
      emptyField.classList.remove("d-none");
    });
  }
});


</script>
