<div class="preview-container">
  <div class="comic">
    <div class="comic-title">
      <h2> <%= comic_trip.title %></h2>
    </div>

    <div class="vignettes">
      <div class="vignette-text">
        <div class="element">
          <img src="<%= comic_trip.vignettes[0].compositions[0].element.image_url %>" alt="Vignette2.1" style="position: absolute; z-index: <%= comic_trip.vignettes[0].compositions[0].z_index %>;" class="adapt">
          <img src="<%= comic_trip.vignettes[0].compositions[1].element.image_url %>" alt="Vignette2.1" style="position: absolute; z-index: <%= comic_trip.vignettes[0].compositions[1].z_index %>;" class="adapt">
          <img src="<%= comic_trip.vignettes[0].compositions[2].element.image_url %>" alt="Vignette2.1" style="position: absolute; z-index: <%= comic_trip.vignettes[0].compositions[2].z_index %>;" class="adapt">
        </div>
          <% unless comic_trip.vignettes[0].text01.empty? %>
          <div class="rectangle-left"><%= comic_trip.vignettes[0].text01 %></div>
          <% end %>
          <% unless comic_trip.vignettes[0].text02.empty? %>
          <div class="rectangle-right"><%= comic_trip.vignettes[0].text02 %></div>
          <% end %>
      </div>

      <div class="vignette-text">
        <div class="element">
          <img src="<%= comic_trip.vignettes[1].compositions[0].element.image_url %>" alt="Vignette2.1" style="position: absolute; z-index: <%= comic_trip.vignettes[1].compositions[0].z_index %>;" class="adapt">
          <img src="<%= comic_trip.vignettes[1].compositions[1].element.image_url %>" alt="Vignette2.2" style="position: absolute; z-index: <%= comic_trip.vignettes[1].compositions[1].z_index %>;" class="adapt">
          <img src="<%= comic_trip.vignettes[1].compositions[2].element.image_url %>" alt="Vignette2.2" style="position: absolute; z-index: <%= comic_trip.vignettes[1].compositions[2].z_index %>;" class="adapt">
        </div>
          <% unless comic_trip.vignettes[1].text01.empty? %>
            <div class="rectangle-left"><%= comic_trip.vignettes[1].text01 %></div>
          <% end %>
          <% unless comic_trip.vignettes[1].text02.empty? %>
          <div class="rectangle-right"><%= comic_trip.vignettes[1].text02 %></div>
          <% end %>
      </div>

      <div class="vignette-text">
        <div class="element">
          <img src="<%= comic_trip.vignettes[2].compositions[0].element.image_url %>" alt="Vignette3.1" style="position: absolute; z-index: <%= comic_trip.vignettes[2].compositions[0].z_index %>;" class="adapt">
          <img src="<%= comic_trip.vignettes[2].compositions[1].element.image_url %>" alt="Vignette3.1" style="position: absolute; z-index: <%= comic_trip.vignettes[2].compositions[1].z_index %>;" class="adapt">
          <img src="<%= comic_trip.vignettes[2].compositions[2].element.image_url %>" alt="Vignette3.1" style="position: absolute; z-index: <%= comic_trip.vignettes[2].compositions[2].z_index %>;" class="adapt">
        </div>
          <% unless comic_trip.vignettes[2].text01.empty? %>
          <div class="rectangle-left"><%= comic_trip.vignettes[2].text01 %></div>
          <% end %>
          <% unless comic_trip.vignettes[2].text02.empty? %>
          <div class="rectangle-right"><%= comic_trip.vignettes[2].text02 %></div>
          <% end %>
      </div>

    </div>
  </div>
</div>
