<div class="container" data-controller="live-preview">
  <div>
  <%= render "e1_background" %>
  <%= render "e1_char1" %>
  <%= render "e1_char2" %>
  <%= render "e2_background" %>
  <%= render "e2_char1" %>
  <%= render "e2_char2" %>
  <%= render "e3_background" %>
  <%= render "e3_char1" %>
  <%= render "e3_char2" %>
  </div>
  <div class="preview" style="">
      <%= render 'preview' %>
  </div>
  <div class="buro" style="">
      <%= render 'buro', comic: @comic_trip %>
  </div>
</div>
