<div class="container" data-controller="live-preview">
  <div class="modal">
    <div class="row">
      <div class="col">
      <%= render "e1_background" %>
      </div>
      <div class="col">
      <%= render "e1_char1" %>
      </div>
      <div class="col">
      <%= render "e1_char2" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
      <%= render "e2_background" %>
      </div>
      <div class="col">
      <%= render "e2_char1" %>
      </div>
      <div class="col">
      <%= render "e2_char2" %>
      </div>
    </div>

    <div class="row">
      <div class="col">
      <%= render "e3_background" %>
      </div>
      <div class="col">
      <%= render "e3_char1" %>
      </div>
      <div class="col">
      <%= render "e3_char2" %>
      </div>
    </div>
  </div>
  
  <div class="preview" style="">
      <%= render 'preview' %>
  </div>
  <div class="buro" style="">
      <%= render 'buro', comic: @comic_trip %>
  </div>
</div>
