<div class="container">

<div>
  <h2 class="nickname active mt-1">
    <%= "#{current_user.nickname}" %>
    <h5 br>
    <%= "#{current_user.email}" %>
    </h5>
  </h2>
</div>

<%= link_to edit_user_registration_path, class: "nav-link edit-button" do %>
  Edit
<% end %>

  <div class="row">
<% if @comic_trips.any? %>
  <% @comic_trips.each do |comic_trip| %>
    <div class="col-12 sm-8 my-3">
      <%= render 'comic_trips/show', comic_trip: comic_trip %>
    </div>
  <% end %>
<% else %>
  <em>Sorry, no comiXtrip found.</em>
<% end %>

  </div>
<%= link_to "Back to Home", root_path, class: "btn btn-info btn-custom" %>
</div>
